@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>About Me</h1>
<h4>This is my about me page</h4>

<div class="row">
    <div class="col-md-4">
        <h3>Description</h3>
        <table>
            <tbody>
                <tr>
                    <td>
                        <p> A biography about me. I started my life at a Kindergarden school called Prinsies and Prinsessies. It is mainly a afrikaans school but met most of my friends at that school. I started playing cricket at a young age with my friends enjoying it more and more. I then went to Laerskool Constantia Park where most of my friends came along. My love for cricket then just started becoming more and more. I played in the A team every year and in Grade 6 we almost won the whole Guateng league. After Primary school I went to Die Hoërskool Menlopark where I also played cricket but met new poeple since all my friend had gone to a different high school. At first I wanted to study Bcom Accounting but then decided against it with Informatics being the second option. Now in my freetime I play golf and hang out with my family.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Kian</h3>

    </div>
