@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            
        </div>
        <div class="navbar-collapse collapse" id=".navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Files</a></li>
                <li><a href="#">Images</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">About Me</a></li>

            </ul>
        </div>
    </div>
</div>


    <h1>Home</h1>
    <h4>This is my home page</h4>
    

<div class="row">
    <div class="col-md-4">
        <h3>Description</h3>
        <table>
            <tbody>
                <tr>
                    <td>
                        <p> This is the home page for the media uploading system. A person selects the file/image/video they want to upload.</p>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
    <div class="col-md-4">
        <h3>Option Selection</h3>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Document @Html.RadioButton("Document", true)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Images @Html.RadioButton("Images", false)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Video @Html.RadioButton("Video", false)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><input type="Button" value="Choose File" /></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><input type="Submit" value="Submit" /></p>
                            </td>
                        </tr>



                    </tbody>
                </table>
            }


    </div>

    </div>
    