@{
    ViewBag.Title = "Home Page";
}

    <h1>Home</h1>
    <h4>This is my home page</h4>
    

<div class="row">
    <div class="col-md-4">
        <h3>Description</h3>
        <table>
            <tbody>
                <tr>
                    <td>
                        <p> This is the home page for the media uploading system. A person selects the file/image/video they want to upload.</p>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
    <div class="col-md-4">
        <h3>Option Selection</h3>
        
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="rbDocum">Document</label>
                                <input type="radio" name="rbSelect" value="docum" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="rbImage">Images</label>
                                <input type="radio" name="rbSelect" value="image" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="rbVideo">Videos</label>
                                <input type="radio" name="rbSelect" value="video" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><input type="Button" value="Choose File" /></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><input type="Submit" value="Submit" /></p>
                            </td>
                        </tr>



                    </tbody>
                </table>
            


    </div>

    </div>
    