
@{
    ViewBag.Title = "Files";
}

@using u21454982_HW03.Models
@model List<FileModel>

<head>
    <style type="text/css">
        .auto-style{
            color: white
        }

        .t{
            text-align:center;
            vertical-align:middle;
        }
    </style>
</head>

<h2>Documents of any file type</h2>
<h3>.... "App_Data/document/" folder</h3>

<div style="height: 500px; overflow:auto; background-color:darkgrey">
    <table class="table table-condensed table-hover">
        <thead style="position: sticky;top:0">
            <tr bgcolor="#222222" class="auto-style">
                <th class="col-lg-8">File Name</th>
                <th class="t, col-lg-2">DOWNLOAD</th>
                <th class="t, col-lg-2">DELETE</th>
            </tr>
        </thead>
        @foreach (FileModel file in Model)
  {
    <tr>
        <td>
            @file.FileName
        </td>
        <td>
            <button style="border-radius:4px; background-color:lawngreen; border:none; height:25px">
                @Html.ActionLink("Download", "DownloadFile",
               new { fileName = file.FileName })
            </button>
        </td>
        <td>
            <button style="border-radius:4px; background-color:red; border:none; height:25px">
                @Html.ActionLink("DELETE", "DeleteFile",
               new { fileName = file.FileName },
               new { onclick = "return confirm(Are you sure you wish to delete this?);" })
            </button>
        </td>
    </tr>
            }
    </table>
</div>

